@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
    --color-primary: #fffdee;
    --color-secondary: #0a3a40;
    --color-accent: #118c8c;
    --color-dark: #160800;
    --color-danger: #ff686b;
}

* {
    font-family: "Jost", sans-serif;
}

body {
    background-color: var(--color-primary);
}
